
body {
    background-color: #262626;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
	background: url(assets/images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

button {
	height: auto;
	width: auto;
	margin: -20px -50px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-bottom: 20px;
}

audio {
	display: none;
}

#guitar {
	margin: auto;
}

.line {
	border: 1px solid transparent;
	height: 50px;
	width: 50px;
	display: inline;
	float: left;
	border-radius: 50%;
	margin: 10px;
}

.text {
	font-size: 30px;
}

#line-9 td {
	border: 1px solid #fff;
	height: 50px;
	width: 50px;
	display: inline;
	float: left;
}

#score {
	text-align: center;
	font-size: 30px;
}

td {
	text-align: center;
}
